- breadcrumb :scores

h1 気分スコア一覧

canvas id="myChart"
javascript:
  if (document.readyState === "complete") {
    drawChart();
  } else {
    document.addEventListener("DOMContentLoaded", drawChart);
  }
  function drawChart(){
    ctx.canvas.height = 150;
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: #{@labels},
        datasets: [{
          label: 'Score',
          data: #{@dataset},
          backgroundColor: '#6cc3d5',
          borderColor: '#6cc3d5',
          fill: false
        }]
      },
      options: {
        responsive: true,
        legend: {
          display: false
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false,
              min: -5,
              max: 5,
              stepSize: 1
            },
            gridLines: {
              borderDash: [3,5]
            }
          }]
        }
      }
    });
  };

.nav.justify-content-end
  = link_to (fa_icon 'plus'), new_score_path, class: 'btn btn-outline-primary'

.mb-3
table.table.table-hover
  thead.thead-light
    tr
      th= Score.human_attribute_name(:wakeup_on)
      th= Score.human_attribute_name(:score)
      th= Score.human_attribute_name(:reason)
      th= Score.human_attribute_name(:cause)
      th
  tbody
    - @scores.each do |score|
      tr
        td= link_to score.wakeup_on, score
        td= score.score
        td= score.reason
        td= score.cause
        td
          .btn-toolbar.justify-content-end
            .btn-group.mr-2
              = link_to (fa_icon 'pencil'), edit_score_path(score), class: 'btn btn-primary'
            .btn-group.mr-2
              = link_to (fa_icon 'trash-o'), score, method: :delete, data: { confirm: "#{score.wakeup_on} の気分を削除します。よろしいですか？" }, class: 'btn btn-danger'

