@import "bootswatch/minty/variables";
@import "bootstrap";
@import "bootswatch/minty/bootswatch";
@import "font-awesome";

h1 {font-size: 1.5rem; }
.container { padding-top: 30px; }
.breadcrumb a {color: rgba(0, 0, 0, 0.3);}
.breadcrumb a:hover {color: #5a5a5a}
